[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "*"
xxhash = "*"
boto3 = "*"
tqdm = "*"
regex = "*"
intervaltree = "*"
pydub = "*"

[requires]
python_version = "3.8"
